/* GERAL */

a,
a:link,
a:visited,
a:active {
    color: #0202FF;
    font-weight: 500;
}

#nav,
#header,
#main,
#footer {
    width: 100%;
    height: auto;    
}

body {
    background-color: #f1f1f1;
}

#header-blog__descricao,
#header__descricao,
#sobre__descricao,
#destaque__descricao,
#experiencia__descricao,
#experiencia__descricao ul,
#formacao__descricao,
#formacao__descricao ul,
#projeto__descricao,
#habilidade__descricao,
.habilidade__item ul,
#curso__descricao,
#curso__descricao ul,
#premios__descricao,
#premios__descricao ul,
#contato__descricao {
    padding: 20px;
}

#destaque__descricao p,
#sobre__descricao p {
    margin: 10px 0;
}

#experiencia__descricao ul li,
#formacao__descricao ul li,
.habilidade__item ul li,
#curso__descricao ul li,
#premios__descricao ul li,
#contato__descricao ul li {
    margin: 10px 0;
}

.experiencia__item,
.formacao__item,
.projeto__item,
.habilidade__item,
.curso__item,
.contato__item {
    line-height: 1.2em;
}

/* MAIN */

#main {
    padding-top: 10px;
    padding-bottom: 50px;
}

/* FOOTER */

#footer {
    position: fixed;
    bottom: 0;    
    padding: 10px 0;
    background-color: #f1f1f1;
}

#footer__content h6 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
}

/* NAV */

#nav {
    padding: 10px 0;
    background-color: #FFF;
}

#nav__content {
    align-items: center;
    position: relative;
}

#nav__content img {
    width: 120px;
    margin-left: 10px;
}

#nav__button {
    width: 24px;
    height: 22px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: 0 none;
    position: absolute;
    right: 10px;
    top: 0;
}

#nav__button span {
    width: 24px;
    height: 5px;
    background-color: #2C2C96;
}

#nav__button:focus {
    outline: 0 none;
    border: 0 none;;
}

/* MENU */

#menu {
    justify-content: flex-end;
    align-items: center;
}

#menu li {
    padding: 0 10px;
}

#menu a,
#menu a:link,
#menu a:visited,
#menu a:active {
    color: #000;
    font-weight: 700;
}

#menu a:hover {
    color: #0202FF;
    text-decoration: none;
}

/* CARD */

.card {
    width: 96.3%;
    height: auto;
    margin: 10px auto;
    background-color: #FFF;
    border: 1px solid #cecdcd;
    border-radius: 12px;
}

/* HEADER */

#header__banner {
    width: 100%;
    height: 180px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    position: relative;
}

#header-blog__banner {
    width: 100%;
    height: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    position: relative;
}

#header__banner h4 {
    color: #FFF;
    margin-right: 20px;
    margin-bottom: 20px;   
}

#header__img_perfil {
    width: 150px;
    position: absolute;
    left: 20px;
    top: 50%;
    border: 6px solid #FFF;
    border-radius: 50%;
    background-color: #dddcdc;
}

#header-blog__img_perfil {
    width: 100px;
    position: absolute;
    left: 20px;
    top: 50%;
    border: 6px solid #FFF;
    border-radius: 50%;
    background-color: #dddcdc;
}

#header__info {
    width: auto;
    padding: 80px 20px 0 20px;
}

#header-blog__info {
    width: auto;
    padding: 70px 20px 0 20px;
}

#header-blog__info h1 {
    font-size: 1.4rem;
}

#header__info h5 {
    text-align: right;
}

#header-blog__info  h5{
    text-align: left;
}

/* PROJETO */

.projeto__item {
    justify-content: flex-start;
    gap: 10px;
    margin: 10px 0;
}

.projeto__item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border: 2px solid #dddcdc;
}

#projeto__link {
    text-align: right;
}

/* HABILIDADES */

.habilidade__item h6 {
    text-transform: uppercase;
}

/* CONTATO */

.contato__item {
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#contato a,
#contato a:link,
#contato a:visited,
#contato a:active {
    color: #000;
    font-weight: 500;
}

#contato a:hover {
    color: #0202FF;
}

/* PROJETOS PAGE */

#projeto__content img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: top;
}

.projeto__descricao {
    padding: 0 20px;        
}

#projeto__content {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#projeto__content img {
    border-bottom:4px solid #dddcdc;
}

.sem-projetos {
    padding: 50px 0;
    text-align: center;
}

@media(max-width: 768px) {
    
    /* HEADER */

    #header__banner {
        height: 100px;
    }    
    
    #header-blog__info {
        justify-content: space-between;
    }

    /* NAV */

    #nav__button {
        display: flex;
    }

    #nav__content {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    /* MENU */

    #menu {
        padding: 20px 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #FFF;
        position: absolute;
        top: 32px;
        left: 0;
        right: 0;
        z-index: 1;
    }

    #menu li a {
        font-size: 1.2rem;
        line-height: 1.3em;
    }

    .menu-aberto {
        display: flex;
    }

    .menu-fachado {
        display: none;
    }
}

@media(max-width: 586px) {
    #header__info h5 {
        padding-top: 10px;
        text-align: left;
    }

    #header__info {
        padding-top: 50px;
    }

    #header__img_perfil {
        width: 100px;
        top: 35%;
    }

    .projeto__item {
        text-align: left;
        justify-content: flex-start;
    }

    .projeto__item img {
        width: 270px;
        height: 150px;        
    }

    #footer__content {
        justify-content: center;
    }

    #footer__content img {
        padding: 0;
    }
}