* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'MontserratBold', sans-serif;
    src: url('/fonts/Montserrat-Bold.ttf') format('woff2');
}

@font-face {
    font-family: 'MontserratRegular', sans-serif;
    src: url('/fonts/Montserrat-Regular.ttf') format('woff2');
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'MontserratRegular', sans-serif;
}

#page {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
button,
span {
    letter-spacing: 1.3px;
}

h6,
p,
a,
label,
button,
span {
    font-size: 0.90rem;
}

label,
button {
    font-weight: 700;
}

button {
    cursor: pointer;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
}

.row {
    width: 100%;
    max-width: 1160px;    
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: block;
}

.col-12 {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: block;
}

.col-6 {
    width: 50%;
    max-width: 600px;
    height: auto;
    display: block;
}

.col-4 {
    width: 33.3%;
    max-width: 400px;
    height: auto;
    display: block;
}

.col-3 {
    width: 25%;
    max-width: 300px;
    height: auto;
    display: block;
}

.col-7 {
    width: 70.83%;
    max-width: 850px;
    height: auto;
    display: block;
}

@media(max-width: 992px) {
    .row-m {
        width: 100%;
        max-width: 992px;
        height: auto;
        display: flex;
    }

    .column-m {
        width: 100%;
        max-width: 992px;
        height: auto;
        display: block;
    }

    .col-m-12 {
        width: 100%;
        max-width: 992px;
        height: auto;
        display: block;
    }

    .col-m-6 {
        width: 50%;
        max-width: 496px;
        height: auto;
        display: block;
    }

    .col-m-4 {
        width: 33.3%;
        max-width: 330.6px;
        height: auto;
        display: block;
    }

    .col-m-3 {
        width: 25%;
        max-width: 248px;
        height: auto;
        display: block;
    }

    .col-m-7 {
        width: 75%;
        max-width: 744px;
        height: auto;
        display: block;
    }
}

@media(max-width: 768px) {
    .row-md {
        width: 100%;
        max-width: 786px;
        height: auto;
        display: flex;
    }

    .column-md {
        width: 100%;
        max-width: 786px;
        height: auto;
        display: block;
    }

    .col-md-12 {
        width: 100%;
        max-width: 786px;
        height: auto;
        display: block;
    }

    .col-md-6 {
        width: 50%;
        max-width: 393px;
        height: auto;
        display: block;
    }

    .col-md-4 {
        width: 29.4%;
        max-width: 262px;
        height: auto;
        display: block;
    }

    .col-md-3 {
        width: 25.6%;
        max-width: 196.5px;
        height: auto;
        display: block;
    }

    .col-md-7 {
        width: 68.2%;
        max-width: 524px;
        height: auto;
        display: block;
    }
}

@media(max-width: 586px) {
    .row-sd {
        width: 100%;
        max-width: 586px;
        height: auto;
        display: flex;
    }

    .column-sd {
        width: 100%;
        max-width: 586px;
        height: auto;
        display: block;
    }

    .col-sd-12 {
        width: 100%;
        max-width: 586px;
        height: auto;
        display: block;
    }

    .col-sd-6 {
        width: 50%;
        max-width: 293px;
        height: auto;
        display: block;
    }

    .col-sd-4 {
        width: 33.3%;
        max-width: 195.3px;
        height: auto;
        display: block;
    }

    .col-sd-3 {
        width: 25%;
        max-width: 146.5px;
        height: auto;
        display: block;
    }

    .col-sd-7 {
        width: 66.6%;
        max-width: 390.5px;
        height: auto;
        display: block;
    }
}